.slick-slider.slick-initialized {
  margin-top: 30px;
  position: relative;
  text-align: center;
  z-index: 1;
}

@media (min-width: 768px) {
  .slick-slider.slick-initialized {
    margin-top: 60px;
  }
}

@media (min-width: 992px) {
  .slick-slider.slick-initialized {
    margin-top: 100px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .slick-slider.slick-initialized {
    padding: 0 30px;
  }
}

.slick-slide div > div {
  max-width: 290px;
  cursor: pointer;
  outline: none;
}
.slick-slide {
  min-width: 0;
}

.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
}

.slick-slider .slick-arrow {
  display: none !important;
}

@media (min-width: 992px) {
  .slick-slider .slick-arrow {
    display: block !important;
    position: absolute;
    top: 0;
    left: 50%;
  }
}

button.slick-arrow.slick-next {
  transform: translate(-60px, -65px);
  font-size: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-image: url("../static/images/next.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s all;
}
button.slick-arrow.slick-next:hover {
  box-shadow: inset -20px 20px 20px rgb(0 0 0 / 20%),
    -20px 20px 30px rgb(0 0 0 / 30%);
  transition: 0.3s all;
}

button.slick-arrow.slick-prev {
  transform: translate(10px, -65px);
  font-size: 0;
  height: 48px;
  width: 48px;
  border-radius: 50%;

  background-image: url("../static/images/prev.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s all;
}
button.slick-arrow.slick-prev:hover {
  box-shadow: inset -20px 20px 20px rgb(0 0 0 / 20%),
    -20px 20px 30px rgb(0 0 0 / 30%);
  transition: 0.3s all;
}
