@font-face {
  font-family: Montserrat;
  src: url("OpenSans-Medium.woff") format("woff"),
    url("OpenSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Montserrat;
  src: url("OpenSans-Regular.woff") format("woff"),
    url("OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: OpenSans;
  src: url("OpenSans-SemiBold.woff") format("woff"),
    url("OpenSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
} ;
